* text=auto

# C# diff
*.cs diff=csharp

# Merge driver untuk file proyek
*.sln merge=binary
*.csproj merge=binary
*.vbproj merge=binary

# Gambar sebagai file binary
*.jpg binary
*.png binary
*.gif binary

# Dokumen biner sebagai teks untuk diff
*.doc diff=astextplain
*.pdf diff=astextplain
